*.tab.*
*.output
*.zip
*.yy.c
*.lex.*
*.o
build/
build-dev/
test/lexer
test/parser
test/compiler
test/*.exe
test/output.*
.vs/
sysY-compiler/
x64/
*.filters
*.sln
*.user
*.vcxproj
*.hpp
.DS_Store
**/.DS_Store
